# Compiled sources
/error_log
*.com
*.class
*.dll
*.exe
*.log
*.o
*.so

# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment
.env*
!.env.example

# Firebase
tcc-quizit-firebase-adminsdk.json

# Generated
/build

# IDE and Editors
/nbproject
/packages/api/etc
_notes
*.sublime-project
*.sublime-workspace
.brackets.json
.idea
.project

# Misc
*~
*#
*.pem
.#*
.DS_Store

# Npm & Yarn
.npm
.yarn-integrity
last-package.json
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock*

# Test
/coverage
.eslintcache

# Gitkeep
!**/.gitkeep
